<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Growth Source Financial Technologies</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
	function calFunction() {
		console.log("summary id" + $('#summaryIdInput').val());

		var summaryId = $('#summaryIdInput').val();
		$.ajax({
			type : "POST",
			url : "/api/calculate/" + summaryId,
			async : false,
			data : summaryId,
			success : function(data) {
				console.log("data:" + data)
				var response = JSON.parse(data);
				console.log("response.tenuerWeightedAvgGSFT:"
						+ response.tenuerWeightedAvgGSFT);
				var displayGSFT = '<tr><td>' + response.rateWeightedAvgGSFT
						+ '</td>' + '<td>' + response.ltvWeightedAvgGSFT
						+ '</td>' + '<td>' + response.tenuerWeightedAvgGSFT
						+ '</td></tr>';

				var displayABCD = '<tr>' + '<td>'
						+ response.rateWeightedAvgABCD + '</td>' + '<td>'
						+ response.ltvWeightedAvgABCD + '</td>' + '<td>'
						+ response.tenuerWeightedAvgABCD + '</td></tr>';

				$('#weightedAvgdiv').show();

				$('#weightageGSFTBody').empty();
				$('#weightageABCDBody').empty();

				$('#weightageGSFTBody').append(displayGSFT);

				$('#weightageABCDBody').append(displayABCD);
			},
			error : function(data) {
				successmessage = 'Error';

			},
			dataType : "text"
		});
	}
	
	
</script>
</head>
<body style="background-color:#fff;">
	<br>
	<br>
	<br>
	<div th:with="summaryId=${summaryId}"></div>
	<form action="#" th:action="@{/calculate}" th:object="${summaryId}">

		<input type='hidden' name='summaryIdInput' id='summaryIdInput'
			th:value='${summaryId}' />
		<table align="center" cellpadding="10">
			<tr>
				<td align="center"><b>Customer Input</b></td>
				<td align="center"><b>GSFT</b></td>
				<td align="center"><b>ABCD</b></td>



			</tr>
			<tr>
				<td valign="top">
					<table class="table table-hover" style="border: 1px solid black;">
						<thead style="background-color:#00004d;">
							<tr>

								<th style="color:white">Asset</th>
								<th style="color:white">Rate</th>
								<th style="color:white">LTV</th>
								<th style="color:white">Tenure</th>
								<th style="color:white">Value</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="assetmaster : ${assetTable}">
								<td th:text="${assetmaster.assetId.assetName}">Asset</td>
								<td th:text="${assetmaster.rate}">Rate</td>
								<td th:text="${assetmaster.ltv}">LTV</td>
								<td th:text="${assetmaster.tenure}">Tenure</td>
								<td th:text="${assetmaster.value}">Value</td>
							</tr>
						</tbody>
					</table>
				</td>

				<td valign="top">
					<table class="table table-hover" style="border: 1px solid black;">
						<thead style="background-color:#00004d;">
							<tr>

								<th style="color:white">Asset</th>
								<th style="color:white">Rate</th>
								<th style="color:white">LTV</th>
								<th style="color:white">Tenure</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="loanGsft : ${loanCompanyMap.get('GSFT')}">
								<td th:text="${loanGsft.assetId.assetName}">Asset</td>
								<td th:text="${loanGsft.rate}">Rate</td>
								<td th:text="${loanGsft.ltv}">LTV</td>
								<td th:text="${loanGsft.tenure}">Tenure</td>
							</tr>

						</tbody>
					</table>
				</td>
				<td valign="top">
					<table class="table table-hover" style="border: 1px solid black;">
						<thead style="background-color:#00004d;">
							<tr>

								<th style="color:white">Asset</th>
								<th style="color:white">Rate</th>
								<th style="color:white">LTV</th>
								<th style="color:white">Tenure</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="loanAbcd : ${loanCompanyMap.get('ABCD')}">
								<td th:text="${loanAbcd.assetId.assetName}">Asset</td>
								<td th:text="${loanAbcd.rate}">Rate</td>
								<td th:text="${loanAbcd.ltv}">LTV</td>
								<td th:text="${loanAbcd.tenure}">Tenure</td>
							</tr>

						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td colspan=3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
			<tr align="center">
				<td colspan=3><input type="button" value=" Calculate "
					class="btn btn-primary btn-lg " onclick="javascript:calFunction();" /></td>
			</tr>
		</table>
	</form>



	<div id="weightedAvgdiv" style="display: none">
		<table align="center" width="60%" cellpadding="10">
			<hr>
			<tr>
				<td colspan=3 align="center"><h3>Weighted Average</h3></td>
			</tr>

			<tr>
				<td align="center"><b>GSFT</b></td>
				<td align="center"><b>ABCD</b></td>
			</tr>
			<tr>
				<td>
					<table class="table table-hover" align="center" 
						style="border: 1px solid black;">
						<thead style="background-color:#000034;">
							<tr>
								<th style="color:white">Rate</th>
								<th style="color:white">LTV</th>
								<th style="color:white">Tenure</th>
							</tr>
						</thead>

						<tbody id='weightageGSFTBody'>

						</tbody>
					</table>
				</td>
				<td>
					<table class="table table-hover" align="center"
						style="border: 1px solid black;">
						<thead style="background-color:#000034;">

							<tr>

								<th style="color:white">Rate</th>
								<th style="color:white">LTV</th>
								<th style="color:white">Tenure</th>
							</tr>
						</thead>
						<tbody id='weightageABCDBody'>

						</tbody>
					</table>
				</td>
		</table>


	</div>

</body>
</html>